body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: lightseagreen;
}
.save-button:hover {
  background-color: green;
  color: white;
}

.add-movie h3 {
  margin-right: 10px;
}

.add-movie{
  background-color: rgb(245, 229, 229);
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-button {
  position: absolute;
  top: 65px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 15px;
  background-color: indianred;
}
.edit-button:hover {
  background-color: lightcoral;
  color: white;
}

.delete-button {
  position: absolute;
  top: 105px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: darkgoldenrod;
}
.delete-button:hover {
  background-color: rgb(194, 173, 122);
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.add-button {
  /* padding: 5px 10px; */
  /* background-color: rgb(193, 224, 243); */
  color:white;
}

.movie-warning {
  color: red;
  text-align: center;
}

h4{
  text-align: center;
}
.updateForm{
  background-color: rgb(238, 215, 215);
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  margin:auto;
  padding: 40px 40px;
  max-width: 440px;
}

.addForm{
    background-color: rgb(238, 215, 215);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-self: center;
    padding: 40px 40px;
    margin:0 auto;
    max-width: 450px;
}