body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem 1rem 3rem 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 90%
}

.movie-card h2 {
  width: 75%;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savedMovieBox {
  width: 125px;
  margin-right: 0; 
} 

.addMovie {
  display: flex;
  flex-direction: column;
  border: black 3px solid;
  margin: 1rem;
  padding: 1rem;
  width: auto;

  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addMovie .inputItem {
  margin: 0;
  padding: .5rem;
}

.addMovie .inputItem input {
  width: 30rem;
  height: 1.1rem;
  border: 1px solid grey;
  border-radius: 0;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
  font-size: .8rem;
  text-decoration: none;
  text-align: center !important;
}
.saved-active {
  font-weight: bold;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 35px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: lightseagreen;
}
.save-button:hover {
  background-color: green;
  color: white;
}

.update-button {
  position: absolute;
  top: 65px;
  right: 35px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: rgb(212, 55, 218);
}
.update-button:hover {
  background-color: rgb(255, 0, 179);
  color: white;
}

.delete-button {
  position: absolute;
  top: 105px;
  right: 35px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: rgb(233, 71, 42);
}
.delete-button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.submit-button {
  margin-top: .5rem;
  font-size: 1rem;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: rgb(73, 151, 92);
}

.submit-button:focus {
  outline: none;
  box-shadow: none;
}

.submit-button:hover {

  background-color: rgb(19, 197, 63);
  color: white;
}

.movie-warning {
  color: red;
  text-align: center;
}
