body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Movie styling */

.movie-card-wrapper {
  display: flex;
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
  margin-top: 5px;
}

.movie-metascore {
  margin: 15px 0;
}

.movie-stars {
  list-style-type: square;
}

/* Saved styling */

.saved-list {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}

.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}

.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.save-button, .unsave-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.save-button {
  background-color: lightseagreen;
}

.unsave-button {
  background-color: lightcoral;
}

.save-button:hover, .unsave-button:hover {
  color: white;
}

.save-button:hover {
  background-color: green;
}

.unsave-button:hover {
  background-color: darkred;
}

/* Misc. styling */

.nav-button {
  padding: 5px 10px;
  background-color: lightskyblue;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
.nav-button:hover {
  background-color: darkblue;
  color: whitesmoke;
  border: 1px solid lightskyblue;
}

.movie-warning {
  color: red;
  text-align: center;
}

/* Image styling */

.movie-img {
  display: inline-block;
  width: 20%;
  max-width: 220px;
  height: 20%;
  max-height: 320px;
}

.saved-img {
  display: inline-block;
  width: 60px;
  height: 80px;
}

/* Movie Form styling */

.movie-form {
  width: 90%;
  margin: 50px auto 0;
}

.movie-form .form-header {
  background: #6c757d;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  color: whitesmoke;
  padding: 10px 0;
  width: 90%;
  margin: 0 auto 25px;
  text-align: center;
}

.movie-form input {
  margin: 10px 0;
}

.movie-form button {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.movie-form input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.movie-form input[type="number"]::-webkit-inner-spin-button,
.movie-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
