* {
  /*border: 1px solid black;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

button {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  height: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-top: 20px;
}

.header h1 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

.header-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.button {
  padding: 5px 0;
  text-align: center;
  width: 75px;
  margin: 0 15px 0 0;
  border: 1px solid black;
  color: white;
  background: black;
}

.saved-list-and-movie-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.movie-list {
  width: 730px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 25px;
}

.movie-list h3 {
  text-decoration: underline;
}

.movie-list-link {
  margin: 10px 0;
}

.movie-container {
  font-size: 20px;
  width: 730px;
  margin-left: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie-card h2 {
  text-decoration: underline;
}

.movie-card h3 {
  text-decoration: underline;
}

.movie-director {
  padding: 4px 0;
  margin-bottom: 20px;
}

.movie-star {
  margin-bottom: 5px;
}

.movie-buttons-container {
  font-size: 16px;
  margin-top: 20px;
}

.saved-list {
  background-color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

.saved-list h3 {
  font-size: 25px;
  text-decoration: underline;
  margin: 0 0 5px 0;
}

.saved-movie {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
  margin-top: 10px;
  display: block;
  overflow: hidden;
}

.form-container {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background: white;
}

.form-container h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 35px;
}

form {
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

form input {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 15px;
}

form .button {
  margin-top: 10px;
  margin-right: 0;
}
