body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f2f2f2;
}

a {
	color: inherit;
	text-decoration: none;
}

.movie-form {
	border: 0;
	background-color: #fff;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
}

label,
input {
	display: block;
}

.movie-card {
	background-color: #fff;
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
}

.movie-card button {
	margin: 10px 10px 0 0;
	border: 1px solid grey;
	padding: 5px 10px;
	background-color: lightseagreen;
}

.movie-director {
	padding: 4px 0;
	font-size: 0.8rem;
}

.saved-list {
	background-color: #fff;
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.saved-list h3 {
	margin-right: 10px;
}

.saved-movie {
	margin: 0 10px;
}

.saved-active {
	color: blue;
	border: 1px solid grey;
	padding: 5px;
}

.save-wrapper {
	position: relative;
	width: 75%;
	margin: 1rem auto;
}

.save-button {
	position: absolute;
	top: 25px;
	right: 25px;
	border: 1px solid grey;
	padding: 5px 10px;
	background-color: lightseagreen;
}

.save-button:hover {
	background-color: green;
	color: white;
}

.home-button {
	padding: 5px 10px;
	background-color: lightskyblue;
}

.movie-warning {
	color: red;
	text-align: center;
}