.movie-card {
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(53, 53, 53);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.movie-card h2 {
  text-decoration: none;
  margin-bottom: 5px;
}

.movie-card h3 {
  margin-bottom: 5px;
}

.movie-director {
  font-family: Arial, Helvetica, sans-serif;
}

.movie-metascore {
  color: rgb(58, 58, 131);
}
